# Ignore obsidian settings
.obsidian

# Ignore TTMIK References
References\TalkToMeInKorean - Talk To Me In Korean Level 1 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 2 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 3 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 4 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 5 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 6 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 7 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 8 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 9 Korean Grammar Textbook.pdf
References\TalkToMeInKorean - Talk To Me In Korean Level 10 Korean Grammar Textbook.pdf